<h2>Mis Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<div *ngIf="selectedHero" class="heroDetails">

  <h2>Detalles de {{selectedHero.name | uppercase}}</h2>
  <div class="heroId"><span>Id: </span>{{selectedHero.id}}</div>

  <div class="heroNameInput">
    <label>Nombre:
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>

  <div class="heroHabilities">
    <label>Habilidades:
      <ul>
        <li *ngFor="let habilities of selectedHero.habilities; let i=index">
          {{habilities}}
        </li>
      </ul>
    </label>
  </div>

</div>